[submodule "tools/clang"]
	path = tools/clang
	url = https://github.com/eosnetworkfoundation/cdt-clang
[submodule "tools/lld"]
	path = tools/lld
	url = https://github.com/eosnetworkfoundation/cdt-lld
